/.idea
/.vscode
**/checkpoint*/
**/__pycache__/
**/generated*/
**/wandb/
**/full_model.pth
/rubbish
**/*cache*
/workspace/classinput/Qwen25llm/
model/Qwen2.5-VL-32B-Instruct/
model/Qwen2.5-VL-7B-Instruct/
